/* Scss Document */
*, *:before, *:after {
  box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul, a {
  margin: 0;
  padding: 0;
  font-weight: normal;
  line-height: 1.5; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

.wrapper {
  margin: 0 auto; }

.wrapper {
  max-width: 1140px; }

/* tables */
/* text */
.text-col-1 {
  column-count: 1; }

.text-col-2 {
  column-count: 2; }

.text-col-3 {
  column-count: 3; }
