/* Scss Document */
$red: #E80000;
$grey-20: #E9EAEF;
$grey-30: #AFAFAF;
$grey-80: #2B2B2B;

$font-light: 200;
$font-medium: 500;
$font-bold: 800;
.text-center {
	text-align: center;
}
html {
	font-family: 'Mukta', Gill Sans, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 1.5;	
	box-sizing: border-box;
}
body {
	background-image: url("../img/lineatura.png");
	background-color: $grey-20;
	color: $grey-80;
}
table h1, h2, h3, h4, h5 {
	display: inline;
	padding: 0;
	margin: 0;
	font-weight: $font-medium;
}
h1 {
	font-size: 4rem;
	line-height: 6rem !important;
	margin-bottom: -1px;
}
h2,h3 {
	font-size: 2rem;
	line-height: 3rem;
	margin: -8px 0 8px 0;
	color: $red;
}
h4 {
	font-size: 1rem;
	text-transform: uppercase;
}
h5 {
	font-size: 1rem;
	text-transform: uppercase;
	color: $grey-30;
}
p {
	margin-top: 8px;
}
.subheading,
p,
a {
	font-weight: $font-light;
}

.subheading {
	display: block;
}
p {}
p.sub_h3 {
	position: relative;
	margin-bottom: 2rem;
	max-width: 30%;
}
p.sub_h3:after {
	content:"";
	position: absolute;
	height: 3px;
	width: 2rem;
	margin-top: 1rem;
	display: block;
	background-color: $red;
}
b {
	font-weight: $font-medium;
}
strong {
	font-weight: $font-medium;
	background: $red;
	color: white;
}
a {
	position: relative;
	font-size: 1rem;
	line-height: 1.5rem;
	color: $red;
	text-decoration: none;
	
}
a:after {
	content:"";
	display:block;
	position: absolute;
	left: 0;
	bottom: 2px;
	height: 2px;
	width: 100%;
	background: $red;
}
/* Lists */
ul, ol {
	font-weight: 300;
}
ul {
	list-style: none;
}
ul li {
	position: relative;
}
ul li:before {
	content: "/";
	position: absolute;
	left: -1rem;
	top: 0;
	display: block;
	color: $red;
	font-weight: $font-medium;
}
ol {
	counter-reset: item;
	list-style: none;
}
ol > li {
	position: relative;
	counter-increment: item;
	color: $grey-80;

}
ol > li:before {
	content:"0" counter(item);
    position:absolute;
    left:-2.6rem;
    width:2rem;
    text-align:right;
	font-weight: $font-medium;
	color: $red;
}
ol > li:nth-of-type(n+10)::before {
	content: counter(item);
	color: $red;
}

/* Tables */

table {
  	border-collapse: collapse;
  	width: 100%;
	border-top: 1px solid $grey-80;
	border-bottom: 1px solid $grey-80;
	margin-bottom: 6rem;
	text-align: left;
	
}
thead > tr {
	border-bottom: 3px solid $grey-80;
	height: 53px;
}
td, th {
	font-weight: 300;
}
th {
	text-transform: uppercase;
}
td {
	border-bottom: 1px solid $grey-80;
	vertical-align: top;
	padding-top:2rem;
	padding-bottom: 17px;
}